html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    position: relative;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color: inherit;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #565756;
}

a:focus {
    text-decoration: none;
    color: #565756;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    color: #202c36;
}

span {
  color: #565756;
}

hr {
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background-color: #3a5367;
}

header {
    position: fixed;
    width: 100%;
    height: 85px;
    padding: 20px 25px;
    border-bottom: 1px solid black;
    z-index: 2;
}

header .row {
    width: 100%;
    justify-content: space-between;
}

.header-overlay {
    background-color: #f7f7f7;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.header-logo {
    width: 75px;
    height: 75px;
    margin-top: -15px;
}

/*#header-logo {
    display: none;
}*/

.logo {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: url('../images/Logo.png') center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.mobile-navbar {
    width: 50px;
    height: 50px;
    margin-right: -20px;
    opacity: 0.8;
    background: url('../images/hoof-print.png') center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar-container {
    width: 200px;
    height: 150px;
    margin-top: 64px;
}

.navbar {
    display: none;
    width: 100%;
    height: 100%;
    padding: 15px;
    /*display: flex;
    flex-flow: column;
    justify-content: space-between;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-container {
    width: 100%;
    height: 100%;
}

.landing {
    width: 100%;
    height: 100vh;
    padding-top: 85px;
    margin-bottom: 15px;
    background: url('../images/mighty-moose.png') center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    -webkit-box-shadow: inset 0px -15px 22px -4px rgba(0,0,0,0.56);
    -moz-box-shadow: inset 0px -15px 22px -4px rgba(0,0,0,0.56);
    box-shadow: inset 0px -15px 22px -4px rgba(0,0,0,0.56);
}

.title-container {
    width: 100%;
    margin: 150px auto;
}

.main-logo {
    display: none;
    width: 200px;
    height: 200px;
    margin-left: -25px;
}

.name-container {
    margin: 75px auto;
}

.name {
    font-size: 50px;
    letter-spacing: 3px;
}

.title {
    width: 100%;
    font-size: 20px;
    letter-spacing: 1px;
}

.section {
    width: 100%;
    /*height: 100vh;*/
    padding: 0 25px;
}

.section-title {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    letter-spacing: 5px;
}

.antlers {
  width: 100%;
  height: 300px;
  margin-top: -40px;
  background: url('../images/antlers.png') center center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  z-index: 0;
}

.section-content {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.profile-image {
    width: 150px;
    height: 150px;
    margin: -180px auto 20px;
    background: url('https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/74457_10150296528880177_3669177_n.jpg?oh=62ad78a158561b1ebd022ff35ea804a1&oe=598AB6C6') center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*-webkit-box-shadow: 0px 5px 15px 2px rgba(87,84,87,1);
    -moz-box-shadow: 0px 5px 15px 2px rgba(87,84,87,1);
    box-shadow: 0px 5px 15px 2px rgba(87,84,87,1);*/
    border-radius: 100px;
}

.section-text {
    width: 100%;
    margin-bottom: 15px;
    font-size: 15px;
}

.spacer-container {
  width: 100%;
  height: 100px;
  padding: 15px;
  font-size: 15px;
}

.arrow {
  width: 100%;
  height: 35px;
  background: url('../images/arrow.png') center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dev-mountain {
  width: 60%;
  height: 50px;
  margin: 15px auto 15px 50px;
  background: url('../images/dev-mountain.png') center center;
  background-repeat: no-repeat;
  background-size: contain;
}
